input {
    height: 25px;
    transition: 0.5s;
    border: none;
    border-bottom: 3px solid #c6c5c7;
    outline: none;
}

input:focus{
    border: none;
    border-bottom: 3px solid #916dfc;
}

.strength-text {
    font-weight: 600;
}